In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import recall_score, confusion_matrix, precision_score, f1_score, accuracy_score, classification_report

In [66]:
df = pd.read_csv('churn.csv')

Data Understanding

In [67]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [68]:
df.shape

(7043, 21)

In [69]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [71]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [72]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

Data Manipulation

In [73]:
df.drop('customerID', axis=1, inplace=True)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [74]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [75]:
df[np.isnan(df['TotalCharges'])]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [76]:
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())
print(df['TotalCharges'].dtype)

float64

In [77]:
df.duplicated().sum()

np.int64(22)

In [78]:
df.drop_duplicates(keep='first',inplace=True)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7021 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7021 non-null   object
 1   SeniorCitizen     7021 non-null   int64
 2   Partner           7021 non-null   object
 3   Dependents        7021 non-null   object
 4   tenure            7021 non-null   int64
 5   PhoneService      7021 non-null   object
 6   MultipleLines     7021 non-null   object
 7   InternetService   7021 non-null   object
 8   OnlineSecurity    7021 non-null   object
 9   OnlineBackup      7021 non-null   object
 10  DeviceProtection  7021 non-null   object
 11  TechSupport       7021 non-null   object
 12  StreamingTV       7021 non-null   object
 13  StreamingMovies   7021 non-null   object
 14  Contract          7021 non-null   object
 15  PaperlessBilling  7021 non-null   object
 16  PaymentMethod     7021 non-null   object
 17  MonthlyCharges    7021 non-null   float64
 18  TotalCharges      7021 non-null   float64
 19  Churn             7021 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [80]:
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Data Pre-Processing

In [81]:
# Step 1: Clean up the redundant categories
df = df.replace({
    'No internet service': 'No',
    'No phone service': 'No'
})
binary_cols = ['gender', 'Partner', 'Dependents', 'PhoneService', 
               'PaperlessBilling', 'MultipleLines', 'OnlineSecurity', 
               'OnlineBackup', 'DeviceProtection', 'TechSupport', 
               'StreamingTV', 'StreamingMovies']
multi_cols = ['PaymentMethod', 'Contract', 'InternetService']

for cols in binary_cols:
    print(df[cols].unique())

['Female' 'Male']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']

In [82]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [83]:
X = df.drop('Churn', axis=1)
y = df['Churn']

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [85]:
le = LabelEncoder()
for col in binary_cols:
    X_train[col] = le.fit_transform(X_train[col])
    X_test[col] = le.transform(X_test[col])

In [86]:
X_train = pd.get_dummies(X_train, columns=multi_cols, drop_first=True)
X_test = pd.get_dummies(X_test, columns=multi_cols, drop_first=True)

In [87]:
def distplot(feature, frame, color='r'):
    plt.figure(figsize=(8,3))
    plt.title("Distribution for {}".format(feature))
    sns.histplot(frame[feature], color= color, kde= True, stat="density")

In [88]:
df['Churn'].value_counts(normalize=True)

Churn
No     0.735508
Yes    0.264492
Name: proportion, dtype: float64

Model Training

In [89]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5616 entries, 2629 to 400
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 5616 non-null   int64
 1   SeniorCitizen                          5616 non-null   int64
 2   Partner                                5616 non-null   int64
 3   Dependents                             5616 non-null   int64
 4   tenure                                 5616 non-null   int64
 5   PhoneService                           5616 non-null   int64
 6   MultipleLines                          5616 non-null   int64
 7   OnlineSecurity                         5616 non-null   int64
 8   OnlineBackup                           5616 non-null   int64
 9   DeviceProtection                       5616 non-null   int64
 10  TechSupport                            5616 non-null   int64
 11  StreamingTV                            5616 non-null   int64
 12  StreamingMovies                        5616 non-null   int64
 13  PaperlessBilling                       5616 non-null   int64
 14  MonthlyCharges                         5616 non-null   float64
 15  TotalCharges                           5616 non-null   float64
 16  PaymentMethod_Credit card (automatic)  5616 non-null   bool
 17  PaymentMethod_Electronic check         5616 non-null   bool
 18  PaymentMethod_Mailed check             5616 non-null   bool
 19  Contract_One year                      5616 non-null   bool
 20  Contract_Two year                      5616 non-null   bool
 21  InternetService_Fiber optic            5616 non-null   bool
 22  InternetService_No                     5616 non-null   bool
dtypes: bool(7), float64(2), int64(14)
memory usage: 784.3 KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encode target variable
le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)  # 'No' -> 0, 'Yes' -> 1
y_test_encoded = le.transform(y_test)

# Calculate scale_pos_weight for XGBoost
scale_pos_weight = (y_train_encoded == 0).sum() / (y_train_encoded == 1).sum()
print(f"Scale pos weight: {scale_pos_weight:.2f}")

# Now define all models
dtc = DecisionTreeClassifier(max_depth=5, class_weight='balanced', 
                              min_samples_split=20, min_samples_leaf=10, random_state=2)
lrc = LogisticRegression(solver='liblinear', penalty='l1', 
                          class_weight='balanced', max_iter=1000, random_state=2)
rfc = RandomForestClassifier(n_estimators=100, max_depth=10, 
                              class_weight='balanced', random_state=2)
abc = AdaBoostClassifier(n_estimators=100, learning_rate=0.5, random_state=2)
etc = ExtraTreesClassifier(n_estimators=100, max_depth=10, 
                            class_weight='balanced', random_state=2)
gbdt = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, 
                                   max_depth=5, random_state=2)
xgb = XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=5, 
                    scale_pos_weight=scale_pos_weight, random_state=2)

# Train all models (use y_train_encoded and y_test_encoded)
models = {
    'Decision Tree': dtc,
    'Logistic Regression': lrc,
    'Random Forest': rfc,
    'AdaBoost': abc,
    'Extra Trees': etc,
    'Gradient Boosting': gbdt,
    'XGBoost': xgb
}

# Train and evaluate all models
for name, model in models.items():
    model.fit(X_train, y_train_encoded)
    y_pred = model.predict(X_test)
    
    from sklearn.metrics import accuracy_score, recall_score
    acc = accuracy_score(y_test_encoded, y_pred)
    recall = recall_score(y_test_encoded, y_pred)  # Recall for churn class
    
    print(f"{name:20s} - Accuracy: {acc:.4f}, Recall (Churn): {recall:.4f}")

Scale pos weight: 2.78
SVC                  - Accuracy: 0.6868, Recall (Churn): 0.5699
KNN                  - Accuracy: 0.7687, Recall (Churn): 0.4274
Decision Tree        - Accuracy: 0.7210, Recall (Churn): 0.7823
Logistic Regression  - Accuracy: 0.7416, Recall (Churn): 0.7796

c:\Users\abdus samad\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:1135: FutureWarning: 'penalty' was deprecated in version 1.8 and will be removed in 1.10. To avoid this warning, leave 'penalty' set to its default value and use 'l1_ratio' or 'C' instead. Use l1_ratio=0 instead of penalty='l2', l1_ratio=1 instead of penalty='l1', and C=np.inf instead of penalty=None.
  warnings.warn(
c:\Users\abdus samad\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:1160: UserWarning: Inconsistent values: penalty=l1 with l1_ratio=0.0. penalty is deprecated. Please use l1_ratio only.
  warnings.warn(

Random Forest        - Accuracy: 0.7779, Recall (Churn): 0.6962
AdaBoost             - Accuracy: 0.7929, Recall (Churn): 0.4651
Extra Trees          - Accuracy: 0.7694, Recall (Churn): 0.7419
Gradient Boosting    - Accuracy: 0.7922, Recall (Churn): 0.4973
XGBoost              - Accuracy: 0.7445, Recall (Churn): 0.7392

In [91]:
from sklearn.model_selection import GridSearchCV

# Tune XGBoost hyperparameters
param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [3, 5, 7],
    'learning_rate': [0.05, 0.1, 0.2],
    'scale_pos_weight': [2.5, 2.77, 3.0]
}

xgb_tuned = GridSearchCV(XGBClassifier(random_state=2), param_grid, 
                          cv=5, scoring='recall', n_jobs=-1)
xgb_tuned.fit(X_train, y_train_encoded)

print(f"Best params: {xgb_tuned.best_params_}")
print(f"Best recall: {xgb_tuned.best_score_:.4f}")

# Use best model
best_xgb = xgb_tuned.best_estimator_
y_pred = best_xgb.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test_encoded, y_pred))

Best params: {'learning_rate': 0.05, 'max_depth': 3, 'n_estimators': 100, 'scale_pos_weight': 3.0}
Best recall: 0.8209
              precision    recall  f1-score   support

           0       0.91      0.70      0.79      1033
           1       0.50      0.81      0.62       372

    accuracy                           0.73      1405
   macro avg       0.70      0.76      0.71      1405
weighted avg       0.80      0.73      0.75      1405

In [92]:
# Use the best parameters you found
final_model = XGBClassifier(
    n_estimators=100,
    max_depth=3,
    learning_rate=0.05,
    scale_pos_weight=3.0,
    random_state=2
)

# Train on full training data
final_model.fit(X_train, y_train_encoded)

# Make predictions
y_pred = final_model.predict(X_test)

# Evaluate
from sklearn.metrics import classification_report
print(classification_report(y_test_encoded, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.70      0.79      1033
           1       0.50      0.81      0.62       372

    accuracy                           0.73      1405
   macro avg       0.70      0.76      0.71      1405
weighted avg       0.80      0.73      0.75      1405